body{
    padding: 0px;
    margin: 0px;
}
h3{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 0px;
}
.location{
    margin: 10px 0px 10px 0px;
    background-color: rgb(244, 236, 236);
    font-size: 18px;
    vertical-align: middle;
    height: 40px;
    padding-left: 10px;
    color:#4e4e4e;
    border-radius: 5px;
    overflow: hidden;
    display: flex; /* Use flexbox */
    align-items: center;  
}
.colored-text{
    color: rgb(18, 50, 126);
}
.back-btn{
    display: flex; 
    align-items: center; 
    padding-left: 13px;
    padding-right: 13px;
    color: #F5F7F8;
    font-size: 15px;
    text-transform: uppercase;
    width: 80px;
    background-color: #495E57;
    height: 40px;
    border-radius: 8px;
    align-items: center;
    border: none;
    box-shadow: 3px 3px 10px #888888;
    margin-top: 15px;
    justify-content: center;
    
}
button{
  font-weight: 520;
  cursor: pointer;
}

.total{ 
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 520;
}



.table{
    max-height: 420px;
    overflow-y: auto;
    padding: 0px;
    margin-top: 10px;
}
table{
    width: 100%;
    margin-top: 0px;
    text-align: center;
    border-collapse: collapse;
    font-size: 16px;
    padding: 0px;
}
table, td, th{
    border: 1px solid black;
}
tr th{
  color: white;
  background-color: #495E57;
  position: sticky;
  top:0px;
  margin-top: 0px;
  border: 1px solid black;
    
}
tr{
    height: 50px;
    
}
tr:nth-child(even) {
    background-color: #e6e4e4;
}
.view-btn{
    background-color: #F4CE14;
}
.edit-btn{
    background-color: #45474B;
}
.delete-btn{
    background-color: rgb(193, 123, 123);
}
.edit-btn, .view-btn, .delete-btn{
    height: 30px;
    border: none;
    border-radius: 3px;
    width: 50px;
}
.action-btn{
    display: flex;
    justify-content: space-evenly;
    
}

.text-box{
    width: 100%;
}
.search-box{
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
    border-color: #e9e9e9;
    border-style: inset;
    text-transform: capitalize;
    padding-left: 6px;
}
.mid-container{
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    column-gap: 15px;
}
.right-btn select{
    width: 100%;
    text-align: center;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #495E57;
    color: white;
    font-size: 15px;
}
.add-student-btn i{
  position: relative;
  margin-right: 3px;
  align-items: center;
  margin-top: 5px;
  font-size: 22px;
}
.add-student-btn{
  justify-content: center;
  display: flex;
   align-items: center;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    border: none;
    border-radius: 3px;
    background-color: #495E57;
    color: white;
    font-size: 15px;
}
  .ad-top-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .bjmp-logo{
    height: 70px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .addForm{
    margin-top: 10px;
  }
  .addStudent, .editStudent{
    color: white;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #12171e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 9999;
  }
  
  .view-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px; 
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}
  .addStudent h2, .editStudent h2{
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
  }
  .top-box .input-area{
    margin-right: 15px;
    margin-bottom: 8px;
  }
  .top-box{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
  }

  .input-area label{
    display: block;
    margin-left: 2px;
  }
  .input-area1{
    margin-bottom: 8px;
  }
  .top-box input[type="text"], .input-area1 input[type="text"], .input-area1 input[type="number"]{
    width: 250px;
    height: 30px;
    border-radius: 4px;
    padding: 2px;
  }
  .basic-info p{
    display: inline;
    margin-right: 10px;
  }
  .basic-info{
    display: flex;
    margin-bottom: 8px;
  }
  .basic-info .gender{
    flex: 1;
  }
  .basic-info .Birthdate{
    flex: 2;
  }
  .Birthdate label{
    margin-right: 8px;
  }
  .back-btn i{
    position: relative;
    margin-right: 3px;
    align-items: center;
    margin-top: 5px;
    font-size: 22px;
  }
  .grid-info-box {
    margin-right: 0px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
  }
  
  .grid-info-box input[type="text"],
  .grid-info-box input[type="number"] {
    width: 100%; 
    height: 30px;
    border-radius: 4px;
    padding: 2px;
  }
  
  .add-label {
    grid-column: span 1; 
  }
  
  .add-input {
    grid-column: span 3; 
  }

  .alert {
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: rgb(204, 45, 45);
    height: 40px;
    color: white;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
  }
  
 

  .btns{
    display: flex;
    justify-content: center;
  }
  .cancel-btn{
    margin: 8px;
    background-color: rgb(98, 22, 22);
    color: white;
    height: 35px;
    border: none;
    border-radius: 8px;
    width: 70px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .submit-btn{
    margin: 8px;
    background-color: rgb(57, 94, 57);
    color: white;
    height: 33px;
    border: none;
    border-radius: 8px;
    width: 70px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .grid span, .grid p{
    margin: 0px;
    padding: 0;
  }
  @media screen and (max-width: 768px) {
    .top-box{
      flex-direction: column;
      width: 100%;
      margin-right: 0px;
      padding: 0px;
    }
    .top-box input[type="text"]{
      width: 100%;
      margin-right: 0px;
    }
    .grid-info-box{
      flex-direction: column;
      align-items: start;
    }
    .grid-info-box[type="text"], .input-area1 input[type="text"], .address input[type="text"]{
      width: 100%;
    }
    .input-area1 label{
      display: block;
    }
    .mid-container{
      grid-template-columns: 5fr 3fr 3fr;
    }
  }

